@font-face {
    font-family: 'checkbookregular';
    src: url('checkbk0-webfont.woff2') format('woff2'),
         url('checkbk0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
